---
layout: null
---

$body-bg-color: #eee;
$selected-bg-color: #322f4c;
$menu-heading-bg-color: #222;

@function contrast-lightness($color, $threshold: 50, $pct: 50%) {
  @if (lightness($color) > $threshold) {
    @return darken($color, $pct);
  } @else {
    @return lighten($color, $pct);
  }
}

body {
  background: $body-bg-color;
  font-family: 'Roboto', sans-serif;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px dashed $selected-bg-color;
}

em, strong {
  color: $selected-bg-color;
}

.header {
  h2 {
    color: #777;
  }
}

.highlight {
  padding: 0 5px;
  font-size: 0.9em;
}

.lang-au3 {
  border-bottom: 4px solid #6594b9;
}

.lang-cpp {
  border-bottom: 4px solid #f34b7d;
}

.lang-python {
  border-bottom: 4px solid #3581ba;
}

.lang-shell {
  border-bottom: 4px solid #5861ce;
}

#menu {
  background-image: url('/img/bg.png');

  a {
    position: relative;

    &:hover {
      &:after {
        font-size: 0.8em;
        background: #111;
        background: rgba(0,0,0,.8);
        border-radius: .5em;
        bottom: .35em;
        color: #fff;
        content: attr(title);
        display: block;
        right: 1em;
        padding: .3em 1em;
        position: absolute;
        text-shadow: 0 1px 0 #000;
        white-space: nowrap;
        z-index: 98;
      }
      &:before {
        border: solid;
        border-color: #111 transparent;
        border-color: rgba(0,0,0,.8) transparent;
        border-width: .4em .4em 0 .4em;
        bottom: 0;
        content: "";
        display: block;
        right: 2em;
        position: absolute;
        z-index: 99;
      }
    }
  }

  .pure-menu-heading {
    background: $menu-heading-bg-color;
    color: contrast-lightness($menu-heading-bg-color);
    border-bottom-color: contrast-lightness($menu-heading-bg-color, 50, 10%);
  }

  .pure-menu-selected {
    background: $selected-bg-color;

    a {
      color: contrast-lightness($selected-bg-color, $pct: 40%);

      &:hover {
        background: $selected-bg-color !important;
      }
    }
  }
}

#post {
  h1 {
    margin-bottom: 0;
  }

  .meta {
    color: contrast-lightness($body-bg-color, 75, 20%);
  }
}
